.list{
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 50%;
    width: 50%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

#carddiv{
    display: flex;
}

.shake {
    -webkit-animation: shake .5s .0125s;
    animation: shake .5s .0125s;

    }

    .click-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 10px 20px #B2BEB5;
    box-shadow: 0 14px 28px #6E7F80,0 10px 10px #87A96B;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    }


.click-item {
    background-size: 100%;
    background-position: 50%;
    height: 50px;
    width: 50px;
    margin: 8px 25px;
    border: 5px solid #0093AF;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 5px #B2BEB5,0 10px 10px #6E7F80;
    box-shadow: 0 3px 6px #A1CAF1,0 3px 6px #BCD4E6;
    cursor: pointer;
}


@media (min-width: 1100px) {
    .container {
        padding-left:200px;
        padding-right: 200px;
        width: 1100px;
    }
    .click-item {
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 750px) {
    .click-item {
        margin: 15px;
    }
}

@media (max-width: 500px) {
    .click-item {
        margin: 15px;
    }
}